/* Logo */
.logo {
  max-width: 40%;
}

.logoimg {
  width: 40%;
}

.icon_menu:before {
  color: #1c2042;
}

@media (max-width: 994px) {
  .logo {
    text-align: left;
    max-width: 100%;
  }

  .logoimg {
    max-width: 55%;
  }
}
/* header */
.header_contact_info a {
  color: #fcfcfc;
}
.header_login_info {
  text-align: center;
}

.header_login_info a {
  color: #fcfcfc;
  margin: 0 1rem;
}
/* navigation bar*/
.main_nav {
  background-color: #fff;
  color: #1c2042;
}

.section_padding {
  padding: 60px 0px 40px 0px;
}

/* Course Tick icon */
.course_icon {
  max-width: 17px;
  margin-right: 5px;
}

.course_details {
  color: #1c2042;
}

.media-body {
  color: #1c2042;
}

/* course section know more button */
.courses_item_iner h5 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.courses_item_iner p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
  color: #1c2042;
}

.courses_item_iner ul {
  padding: 0px;
}

.courses_item_iner ul li {
  margin-bottom: 5px;
}

.course_h2 {
  color: #ffffff;
}

/* below course section */
.Ongoing_course {
  background: rgb(251, 130, 0);
  background: linear-gradient(
    90deg,
    rgba(251, 130, 0, 1) 0%,
    rgba(251, 190, 0, 0.9556197478991597) 100%
  );
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.student_review_tittle h1 {
  margin-bottom: 1.5rem !important;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}

.student_review_tittle h2 {
  margin-bottom: 1.5rem !important;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: uppercase;
}

/* testimonials */
.testimonialStyle {
  padding: 100px 0px 30px 0px;
}

/* video section */

/* Alchymest Page*/
/* Alchymest */

.alchymest {
  background-image: url('../img/breadcrumb_bg/breadcrumb_bg-alchymest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}

.contact {
  background-image: url('../img/breadcrumb_bg/contactusbanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}

.about {
  background-image: url('../img/breadcrumb_bg/aboutusbanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}

.event {
  background-image: url('../img/breadcrumb_bg/event.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}

.nominal_heading {
  padding: 30px 0px;
}

.nominal_content {
  padding: 2.5rem;
}

.nominal_div {
  border-right: 1px solid #eeeeee;
  padding: 2rem 0;
}

@media (max-width: 550px) {
  .nominal_div {
    border-right: none;
    border-bottom: 1px solid #eeeeee;
  }
}

.scholarship-img {
  width: 88%;
}

/* split section below scholarship */
.check_list_alchymest {
  display: flex;
  padding: 2rem;
  border-bottom: 1px solid #eeeeee;
}

/*  FAq */

.dark-bg .card-header {
  background-color: #fff !important;
  color: #102042;
  padding: 0;
  font-weight: 500 !important;
}

.card-header button {
  text-align: left;
  color: #ffffff;
}

.card-header button:hover {
  color: #f80a6f;
}

.card-header h2:hover {
  cursor: pointer;
}

.dark-bg .card-body {
  color: #102042;
}

/* placementpage */
/* placement split-1 */
.placement_split-1 {
  background-color: #fff1f1;
}

.placement_split_content {
  background-color: #ffffff;
  padding: 3rem 0rem;

  margin: auto;
}

.placement_content-1 {
  border-right: 1px solid #eeeeee;
  margin-bottom: 2rem;
}

@media (max-width: 500px) {
  .placement_content-1 {
    border-right: none;
    border-bottom: 1px solid #eeeeee;
  }
}

/* alchymest page FAQ */
.faqHeading {
  color: #1c2042 !important;
  font-weight: 600;
}
/* Footer */
.dark-bg,
#help {
  background: #1c2042;
  /* padding: 1.5rem 0; */
  color: #ffffff !important;
}

.dark-bg .section-title,
.dark-bg .title-line,
.dark-bg .caption {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

.footer-main {
  padding: 100px 0px 200px;
  position: relative;
  overflow-x: hidden;
}

.footer-copy {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer-copy {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 0px;
}

.footer-main .contact-widget p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.footer-main .contact-widget p a {
  color: #f80a6f;
  transition: all 0.2s ease-out;
}

.footer-main .contact-widget p a:hover {
  color: #ffffff;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
  color: #1c2042;
}

.footer-main .about-widget .f-list li a {
  color: #ffffff;
  font-size: 15px;
}

.footer-main .about-widget .f-list li a:hover {
  color: #f80a6f;
}

.footer-main .about-widget .f-list li {
  margin-bottom: 12px;
}

.about-widget .f-list li:last-child {
  margin-bottom: 0px;
}

.about-widget .f-list li {
  margin-bottom: 15px;
}

.about-widget .f-list {
  margin-bottom: 0px;
}

.social-widget .logo {
  width: 40%;
  height: auto;
  margin: 20px 0;
}

.social-widget p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.footer-main .social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #876ce9;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  margin: 0.2rem 0.1rem 0.4rem;

  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer-main .social-icon a:hover {
  background: #f80a6f;
  border-color: #f80a6f;
  color: #ffffff;
}

.footer-main .social-icon a + a {
  margin-left: 4px;
}

.footer-main .f-title {
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
}

.footer-main .footer-bg {
  position: absolute;
  bottom: 0;
  background: url('https://res.cloudinary.com/skill-safari/image/upload/v1632811218/website/footer_bg_ele8yf.png')
    no-repeat scroll center 0;
  width: 100%;
  height: 241px;
  opacity: 0.8;
}

.footer-main .footer-bg .footer-bg-one {
  background: url('https://res.cloudinary.com/skill-safari/image/upload/v1632811219/website/volks_ih0wsv.gif')
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.footer-main .footer-bg .footer-bg-two {
  background: url('https://res.cloudinary.com/skill-safari/image/upload/v1632811220/website/cyclist_iu8leu.gif')
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

/*  end of footer*/
