body {
    background-color: white;
    font-size: 17px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Star of Header */

.dark-bg {
    background-color: rgba(42, 46, 77);
}

.navbar-brand img {
    width: 200px;
}

.menu:hover {
    background-color: rgba(42, 46, 77);
}


.button {
    background-color: #8e74ed;
    color: white;
}

.button:hover {
    background-color: #7559de;
    color: white;
}

.schedule-tab {
    background-color: #8e74ed;
    color: white;
}

@media only screen and (max-width:380px) {
    .specail {
        display: none;
    }

}