@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1c2042;
}



.bg-white {
  background: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #fb8200;
}

::selection {
  color: #ffffff;
  background: #fb8200;
}

.dark-bg,
#help {
  background: #1c2042;
  padding: 1.5rem 0;
  color: #ffffff;
}
section{
  padding: 4rem 0rem;
}
/* Main */
/* Header */

.special {
  text-decoration: none;
  color: #1c2042;
  font-size: 17px;
  font-weight: 500;
}

.special:hover {
  color: #4e5592;
}

nav .btn {
    display: none;
  }
  
  nav {
    /* background-color: #1c20421f !important; */
  }
  
  nav.active {
    background-color: #1c2042 !important;
    border-color: #876ce9;
    animation: fixHeader 0.5s ease;
    z-index: 1001;
  }
  
  nav.active .btn {
    display: block;
  }
  
  @keyframes fixHeader {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0%);
    }
  }

  /* banner section */
.BannerImage{
  width: 100%;
}
.icon{
  width: 2.5rem;
}
/* @media only screen and (max-width: 300px) {
  .BannerImage{
    display: none;
  }  
}
@media only screen and (min-width: 301px) {
  .BannerImage{
    display: block;
  }  
} */
/* split section */
.splitImage{
  width: 100%;
}
  /* Footer */

.footer-main {
    padding: 100px 0px 120px;
    position: relative;
    overflow-x: hidden;
  }
  
  .footer-copy {
    padding-top: 5px;
    padding-bottom: 50px;
  }
  
  .footer-copy {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #ffffff;
    padding: 25px 0px;
  }
  
  
  .footer-main .contact-widget p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
  }
  
  .footer-main .contact-widget p a {
    color: #f80a6f;
    transition: all 0.2s ease-out;
  }
  
  .footer-main .contact-widget p a:hover {
    color: #ffffff;
  }
  
  a:hover,
  a:focus,
  .btn:hover,
  .btn:focus,
  button:hover,
  button:focus {
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  
  .footer-main .about-widget .f-list li a {
    color: #ffffff;
    font-size: 14px;
  }
  
  .footer-main .about-widget .f-list li a:hover {
    color: #f80a6f;
  }
  
  .footer-main .about-widget .f-list li {
    margin-bottom: 11px;
  }
  
  .about-widget .f-list li:last-child {
    margin-bottom: 0px;
  }
  
  .about-widget .f-list li {
    margin-bottom: 15px;
  }
  
  .about-widget .f-list {
    margin-bottom: 0px;
  }
  
  .social-widget .logo {
    width: 40%;
    height: auto;
  }
  
  .social-widget p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
  }
  
  .footer-main .social-icon a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: 1px solid #876ce9;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    margin: 0.2rem 0.1rem 0.4rem;
  
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .footer-main .social-icon a:hover {
    background: #f80a6f;
    border-color: #f80a6f;
    color: #ffffff;
  }
  
  .footer-main .social-icon a+a {
    margin-left: 4px;
  }
  
  .footer-main .f-title {
    margin-bottom: 1rem;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
  }
  
  .footer-main .footer-bg {
    position: absolute;
    bottom: 0;
    background: url('http://droitthemes.com/html/saasland/img/seo/footer_bg.png') no-repeat scroll center 0;
    width: 100%;
    height: 266px;
    opacity: 0.8;
  }
  
  .footer-main .footer-bg .footer-bg-one {
    background: url('https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif') no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
  }
  
  .footer-main .footer-bg .footer-bg-two {
    background: url('https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif') no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
  }
  
  @-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
  
    100% {
      left: 100%;
    }
  }
  
  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
  
    100% {
      left: 100%;
    }
  }
  
  @keyframes myfirst {
    0% {
      left: -25%;
    }
  
    100% {
      left: 100%;
    }
  }
  
  /*************footer End*****************/
  