@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1c2042;
}
.bg-white {
  background: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #fb8200;
}

::selection {
  color: #ffffff;
  background: #fb8200;
}

ul li {
  list-style: none;
}

.buttoncc {
  background-color: #f80a6f;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 30px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.buttoncc:hover {
  background-color: #ff4894;
  color: #ffffff;
}
.heading3 {
  font-size: 1.75rem;
  font-weight: 600;
}

/* Header */

nav .btn {
  display: none;
}

nav {
  background-color: #ffffff !important;
}

nav.active {
  background-color: #1c2042 !important;
  border-color: #876ce9;
  animation: fixHeader 0.5s ease;
  z-index: 1001;
}

nav.active .btn {
  display: block;
}

@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
  }
}

.headerHeading {
  font-size: 2.1rem;
  line-height: 3.5rem;
}
.headerPara {
  font-size: 1rem;
  line-height: 2rem;
  padding: 1rem 0;
}
/* split section */
.splitPara {
  font-size: 1rem;
  line-height: 1.7rem;
}
.blockSection {
  padding: 0.9rem 0.1rem;
  background-color: #f0eded;
}
.blockSectionPara {
  font-size: 0.8rem;
}

/* tab section */
.tabdiv {
  padding: 1rem 2rem;
  border-radius: 5px;
}
.nav-pills .nav-link {
  color: #1c2042;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #1c2042 !important;
  transition: background-color 0.2s ease-in 0s;
  width: 100%;
  align-items: flex-start;
  cursor: pointer;
  border-left: 8px solid #f80a6f;
  overflow: hidden;
  border-radius: 4px 0px 0px 4px;
  background-color: white;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 3px 3px 6px);
}
.tab-content {
  margin: 0%;
  padding: 0px;
}
.tabHeader {
  color: #f80a6f;
  font-weight: 600;
}

.tabImage {
  width: 10rem;
  margin: 0%;
  padding: 0;
}

.heading4 {
  font-size: 600;
}

.tabmobileImg {
  width: 100%;
  margin: 1rem 0;
}
/* carouselImg */
.carouselImg {
  width: 10rem;
  margin: 0%;
  padding: 0;
}

/* Additional */

.points {
  font-size: 15px;
}

.gray {
  filter: grayscale(100%);
}

.external {
  text-decoration: underline;
  color: black;
}

.external:hover {
  text-decoration: underline;
  color: #f80a6f;
  transition: 0s;
}
