@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1c2042;
}

ul li {
  list-style: none;
}

.bg-white {
  background: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #fb8200;
}

::selection {
  color: #ffffff;
  background: #fb8200;
}

section {
  padding: 3rem 0rem;
}

/* Main */

.background-main {
  background: #1c2042;
  background: linear-gradient(rgba(42, 46, 77, 0.9), rgba(42, 46, 77, 0.7)) 0%
      0% / cover no-repeat fixed,
    url(../images/bg1.jpg);
  /* background: #1c2042; */
  height: 800px;
  padding-top: 150px;
  background-repeat: no-repeat;
}

@media (max-width: 36em) {
  .background-main {
    height: auto;
    background: linear-gradient(rgba(42, 46, 77, 0.9), rgba(42, 46, 77, 0.7)) 0%
        0% / cover no-repeat fixed,
      url(../images/bg1.jpg);
    background-position: 60% center;
    /* height: 700px; */
    padding-top: 80px;
  }
}

/* Header */
header {
  padding: 5rem 0rem;
}

nav .btn {
  display: none;
}

nav {
  background-color: #1c20421f !important;
}

nav.active {
  background-color: #1c2042 !important;
  border-color: #876ce9;
  animation: fixHeader 0.5s ease;
  z-index: 1001;
}

nav.active .btn {
  display: block;
}

@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
  }
}

.dark-bg,
#help {
  background: #1c2042;
  padding: 1.5rem 0;
  color: #ffffff;
}
.regBtn {
  background-color: #f80a6f;
  color: #ffffff;
  padding: 10px 14px;
  border-radius: 5px;
}
.btn_3 {
  border: 2px solid #fb8200;
  color: #ffffff !important;
  display: inline-block;
  padding: 11px 23px;
  text-transform: capitalize;
  line-height: 21px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: all 0.5s ease-in-out;
}
.btn_31 {
  border: 2px solid #fb8200;
  color: #1c2042 !important;
  display: inline-block;
  padding: 11px 23px;
  text-transform: capitalize;
  line-height: 21px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: all 0.5s ease-in-out;
}

.dark-bg .section-title,
.dark-bg .title-line,
.dark-bg .caption {
  color: #ffffff;
  border-color: #ffffff;
}

/* banner Section */
.banner {
  background-image: url(../internshipImg/internshipbanner.png);
  background-color: #1c2042;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10px bottom;
  position: relative;
  height: 915px;
}
@media (max-width: 36em) {
  .banner {
    height: 100%;
  }
}
.bannerIcon {
  width: 5rem !important;
}
.BannerHeading {
  color: #f80a6f;
  font-weight: 800;
}
.BannerIntern {
  color: #fb8200 !important;
}
.bannerpText {
  color: #ffffff;
}
.bannerpText p {
  color: #ffffff;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: auto;
}
@media (max-width: 36em) {
  .video-container {
    margin: 0%;
  }
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subHeading {
  color: #fb8200;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 0;
}
.subHeading1 {
  color: #1c2042;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 0;
}
/* first section */
.largeText {
  font-size: 54px;
  line-height: 24px;
  color: #f80a6f;
  font-weight: 700;
  text-align: center;
}
.smallBold {
  font-size: 18px;
  line-height: 14px;
  color: #000000;
  font-weight: 700;
  padding-top: 16px;
}

/* aboutIntership */
.aboutIntership {
  /* background-image: url(../internshipImg/benefits2.png) ; */
  background-color: #1c2042;
  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: 10px bottom;
  position: relative; */
  color: #ffffff;
  padding: 5rem 0;
}
@media (max-width: 36em) {
  .aboutIntership {
    background-image: none;
  }
}

/* model grid */
.modelTitle {
  background-color: #323654;
  min-height: 140px;
  text-align: center;
  padding: 20px 14px 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-flex;
  align-items: center;
  max-width: 220px;
}

.thirdweek {
  background-color: #323654;
  color: #ffffff;
  /* padding: 5px; */
  min-height: 100px;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.subSection {
  background-color: #1c2042;
  color: #ffffff;
  padding: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.subTitle {
  background-color: #1c2042;
  color: #ffffff;
  min-height: 130px;
  text-align: center;
  padding: 13px 14px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 220px;
}

.modelBtn {
  background-color: #f80a6f;
  min-height: 62px;
  text-align: center;
  padding: 13px 14px;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}
.oneWeek {
  border-radius: 5px;
  /* padding: 5px; */
  background-color: #323654;
  color: #ffffff;
  min-height: 353px;
  text-align: center;
}
.oneWeekTitle {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-flex;
  align-items: center;
  padding: 13px 14px;
  max-width: 220px;
  min-height: 132px;
}
.my_row {
  padding: 0% !important;
  margin: 0% !important;
}
.subSection1 {
  background-color: #1c2042;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #ffffff;
}
.subTitle1 {
  min-height: 130px;
  text-align: center;
  padding: 20px 14px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 220px;
}
@media (max-width: 36em) {
  .subTitle {
    max-width: 100%;
  }
  .modelTitle {
    max-width: 100%;
  }
}

/* benifits */
.benefitsImage {
  width: 100%;
}
@media (max-width: 36em) {
  .benefitsImage {
    display: none;
  }
}
/* pricing */
.strikeout {
  text-decoration: line-through;
  font-size: 16px;
  color: #1c204287;
}

.tprice {
  font-size: 20px;
}
@media (max-width: 36em) {
  .pricingImage {
    width: 100%;
  }
}
/* card section */
.card-body {
  background-color: #ffffff;
}

tick {
  color: #f80a6f !important;
}
/* Registration */
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #f80a6f;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  height: 220px;
  background-color: #1c2042;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.card1::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #f80a6f;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}
.cardHeading {
  color: #ffffff;
}
.cardContent {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
.card1:hover .regBtn1 {
  background-color: #1c2042;
  color: #ffffff;
}
.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card1:hover .cardHeading {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

.regBtn1 {
  background-color: #f80a6f;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  margin-top: 2rem;
}

/* Footer */

.footer-main {
  padding: 100px 0px 120px;
  position: relative;
  overflow-x: hidden;
}

.footer-copy {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer-copy {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 0px;
}

.footer-main .contact-widget p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.footer-main .contact-widget p a {
  color: #f80a6f;
  transition: all 0.2s ease-out;
}

.footer-main .contact-widget p a:hover {
  color: #ffffff;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

.footer-main .about-widget .f-list li a {
  color: #ffffff;
  font-size: 14px;
}

.footer-main .about-widget .f-list li a:hover {
  color: #f80a6f;
}

.footer-main .about-widget .f-list li {
  margin-bottom: 11px;
}

.about-widget .f-list li:last-child {
  margin-bottom: 0px;
}

.about-widget .f-list li {
  margin-bottom: 15px;
}

.about-widget .f-list {
  margin-bottom: 0px;
}

.social-widget .logo {
  width: 40%;
  height: auto;
}

.social-widget p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.footer-main .social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #876ce9;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  margin: 0.2rem 0.1rem 0.4rem;

  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer-main .social-icon a:hover {
  background: #f80a6f;
  border-color: #f80a6f;
  color: #ffffff;
}

.footer-main .social-icon a + a {
  margin-left: 4px;
}

.footer-main .f-title {
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
}

.footer-main .footer-bg {
  position: absolute;
  bottom: 0;
  background: url('https://res.cloudinary.com/skill-safari/image/upload/v1632811218/website/footer_bg_ele8yf.png')
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
  opacity: 0.8;
}

.footer-main .footer-bg .footer-bg-one {
  background: url('https://res.cloudinary.com/skill-safari/image/upload/v1632811219/website/volks_ih0wsv.gif')
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.footer-main .footer-bg .footer-bg-two {
  background: url('https://res.cloudinary.com/skill-safari/image/upload/v1632811220/website/cyclist_iu8leu.gif')
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

/*************footer End*****************/
