@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1c2042;
}



.bg-white {
  background: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #fb8200;
}

::selection {
  color: #ffffff;
  background: #fb8200;
}

ul li{
  list-style: none;
}

/* Main */

.background-main {
  background: #1c2042;
  background: linear-gradient(rgba(42, 46, 77, 0.9), rgba(42, 46, 77, 0.7)) 0% 0% / cover no-repeat fixed,
    url(../images/DsBanner1.png);
  /* background: #1c2042; */
  width: 100%;
  height: 800px;
  padding-top: 150px;
  background-repeat: no-repeat;
}

@media (max-width: 36em) {
  .background-main {
    height: auto;
    background: linear-gradient(rgba(42, 46, 77, 0.9), rgba(42, 46, 77, 0.7)) 0% 0% / cover no-repeat fixed,
      url(../images/DsBanner1.png);
    background-position: 60% center;
    /* height: 700px; */
    padding-top: 80px;
  }
}

/* Header */

nav .btn {
  display: none;
}

nav {
  background-color: #1c20421f !important;
}

nav.active {
  background-color: #1c2042 !important;
  border-color: #876ce9;
  animation: fixHeader 0.5s ease;
  z-index: 1001;
}

nav.active .btn {
  display: block;
}

@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
  }
}
.background-main .hero-row {
  position: relative;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  zoom: 1;
  display: block;
  box-sizing: border-box;
}

.background-main .hero-col {
  position: relative;
  min-height: 1px;
}

.hero-title {
  font-weight: 700;
  color: #f80a6f;
}

.hero-subtitle {
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-caption {
  color: #ffffff;
}

.hero-caption .point {
  color: #ffffff;
  margin-bottom: 0.5em !important;
}

.hero-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.hero-stats {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  font-feature-settings: 'tnum';
  margin: 0px;
  padding: 0px;
  font-variant: tabular-nums;
  list-style: none;
}

.btn-reg,
.hero-btn {
  background-color: #f80a6f;
  border-color: #f80a6f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  color: #ffffff;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.btn-sec {
  background-color: #fb8200;
  border-color: #fb8200;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  color: #ffffff;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.btn-reg:hover,
.hero-btn:hover,
.btn-sec:hover {
  opacity: 0.9;
  color: #ffffff;
  font-weight: 900;
  transform: scale(1.1);
}

.hero-btn span {
  display: inline-block;
  margin-bottom: 0.5rem;
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
}
.binge{
  background: linear-gradient(90deg , rgba(251, 130, 0, 1) 0%, rgba(251, 190, 0, 0.9556197478991597) 100%);
  color: #1c2042;
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
  margin: auto;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-1 .font-weight-medium {
  font-weight: 500;
}

.service-1 .bg-light {
  background-color: #f4f8fa !important;
}

.service-1 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-1 .wrap-service1-box .card-body {
  padding: 30px;
}

.service-1 .wrap-service1-box img {
  width: 120px;
  height: 120px;
}

.service-1 .wrap-service1-box h5,
.service-1 .wrap-service1-box p {
  color: #1c2042;
}

.section-title {
  color: #1c2042;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 30px;
  text-transform: uppercase;
}

.title-line {
  width: 6rem;
  margin-bottom: 40px;
  border-width: 3px;
  border: none;
  border-style: solid;
  border-color: #1d2444;
  border-image: initial;
}

.how .caption,
.why .caption {
  width: 92%;
  text-align: center;
  font-size: 16px;
  margin: -48px auto auto;
  color: #1c2042;
}

#as-services {
  margin: 40px auto 40px auto;
}

#as-services .as-services-head {
  margin: 0 auto 50px auto;
  max-width: 800px;
}

#as-services .as-services-head p {
  color: #928c8d;
  font-size: 20px;
  font-weight: 300;
}

#as-services .as-service-box:hover i {
  transition: transform 0.3s ease-in-out;
  transform: rotate(40deg);
}

#as-services .as-service-box i {
  color: #f80a6f;
  /* color: #d2a050; */
  display: inline-block;
  font-size: 50px;
  position: relative;
}

#as-services .as-service-box h3 {
  font-weight: 700;
  color: #1c2042;
}

#as-services .as-service-box h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1c2042;
}

#as-services .as-service-box p {
  color: #1c2042;
  font-size: 16px;
}

#as-services .as-service-box p a {
  color: #f80a6f;
}

.dark-bg,
#help {
  background: #1c2042;
  padding: 1.5rem 0;
  color: #ffffff;
}

.dark-bg .section-title,
.dark-bg .title-line,
.dark-bg .caption {
  color: #ffffff;
  border-color: #ffffff;
}

.service-5 h5 {
  font-weight: 600;
  color: #1c2042;
}

.service-5 p {
  color: #1c2042;
}

.service-5 .bg-light {
  background-color: #f4f8fa !important;
}

.service-5 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.service-5 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-5 .wrap-service5-box .card-body {
  padding: 20px;
  min-height: 300px;
}

.service-5 .wrap-service5-box .text-success-gradiant {
  background: #f80a6f;
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#f80a6f),
      to(#f92a6b));
  background: -webkit-linear-gradient(left, #f80a6f 0%, #f92a6b 100%);
  background: -o-linear-gradient(left, #f80a6f 0%, #f92a6b 100%);
  background: linear-gradient(to right, #f80a6f 0%, #f92a6b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-5 .wrap-service5-box .icon-size {
  font-size: 45px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 0.5px solid #0000002a;
  box-shadow: 3px 3px 5px #0000008a;
  margin-top: -60px;
}

/* Testimonials */

.testimonials .card[data-background='image'] {
  background-position: 50%;
  background-size: cover;
  text-align: center;
}

.testimonials .card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: #333;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0 none;
  transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
}

.testimonials .card:hover {
  transform: translateY(-10px);
}

.testimonials .card[data-background='image'] .card-body {
  position: relative;
  z-index: 2;
  min-height: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
}

.testimonials .card .card-body {
  padding: 20px;
}

.testimonials .card[data-background='image'] .card-body {
  color: #ffffff !important;
}

.testimonials .card[data-background='image']:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
  background-color: rgba(42, 46, 77, 0.75);
  border-radius: 12px;
}

.testimonials .card[data-background='image'] .card-category {
  color: #ffffff;
}

.testimonials .card[data-background='image'] .card-title {
  color: #ffffff;
  margin-top: 10px;
}

.testimonials .card .card-body .card-title {
  margin: 5px 0 0;
}

.testimonials .card[data-background='image'] .card-description {
  color: hsla(0, 0%, 100%, 0.8);
}

.testimonials .card .card-description {
  color: #9a9a9a;
  margin-bottom: 5px;
  margin-top: 15px;
}

.testimonials .card[data-background='image'] .card-footer {
  color: #ffffff !important;
}

.testimonials .card .card-body .card-footer {
  padding: 0;
}

.testimonials .card .card-footer {
  padding: 15px;
  background: transparent;
  border-top: 0 none;
}

.testimonials .card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.highlight {
  text-align: center;
  margin: auto;
}

.highlight p {
  color: #1d2444;
}

.highlight p span {
  font-weight: 700;
}

.highlight .img-wrapper {
  font-size: 64px;
  overflow: hidden;
  color: #1d2444;
}

.thumbnail_slider {
  margin: 1.5rem 0;
}

.thumbnail_slider .slick-current {
  border: 2px solid #fb8200;
}

.projects .slick-cloned {
  display: none !important;
}

.slic-slide {
  outline: none !important;
}

.slick-slide:focus {
  outline: none;
}

.project-slider .project-caption {
  border: none;
  box-shadow: 6px 6px 6px #1d24443f, -6px -6px 6px #3535354b;
}

.slide,
.card-text {
  color: #1c2042;
}

.slide h4 {
  font-weight: 700;
}

/* Payment */
.border-dark.nav-link {
  border: 2px solid #1d244493;
}

.border-dark.nav-link.active {
  border: 2px solid #1d2444;
}

.payment h4,
.payment h5,
.payment h6,
.payment td {
  color: #1d2444;
}

.payment a {
  color: #f80a6f;
}



.payment .list-group-item {
  padding: 0.5rem 1rem;
}
.payment h6 a:active,
.payment h6 a:hover{
  color: #fb8200;
}

.requirements .card {
  transition: all 0.4s ease;
}

.requirements .card i {
  transition: all 0.4s ease;
}

.requirements .card:hover {
  transform: scale(1.1);
}

.requirements .card:hover i {
  transform: rotate(15deg);
}

#faq {
  padding: 24px 0;
  min-height: 462px;
}

.quotes {
  float: none;
  margin: 15px 0 15px 10%;
  border-left: 5px solid #bb0a0a;
  padding: 0 10px 0 20px;
  clear: both;
}

.quotes blockquote {
  color: #000;
  font: 400 19px/28px OpenSans-Bold;
  position: relative;
}

.author img {
  width: 20px;
  height: auto;
}

.subscribe form {
  background: #fb8200 !important;
  padding: 0.5rem 0;
  transform: translateY(50px);
  border-radius: 8px;
}

.subscribe form input {
  width: 280px;
  height: 36px;
}

.btn-reg.btn-sub {
  text-transform: uppercase;
  width: 80px;
}

.subscribe-caption {
  width: 85%;
}

.subscribe-caption h5 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
}

.subscribe-caption h5 span {
  color: #f80a6f;
  font-weight: 900;
}

/* Footer */

.footer-main {
  padding: 100px 0px 120px;
  position: relative;
  overflow-x: hidden;
}

.footer-copy {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer-copy {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 0px;
}


.footer-main .contact-widget p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.footer-main .contact-widget p a {
  color: #f80a6f;
  transition: all 0.2s ease-out;
}

.footer-main .contact-widget p a:hover {
  color: #ffffff;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

.footer-main .about-widget .f-list li a {
  color: #ffffff;
  font-size: 14px;
}

.footer-main .about-widget .f-list li a:hover {
  color: #f80a6f;
}

.footer-main .about-widget .f-list li {
  margin-bottom: 11px;
}

.about-widget .f-list li:last-child {
  margin-bottom: 0px;
}

.about-widget .f-list li {
  margin-bottom: 15px;
}

.about-widget .f-list {
  margin-bottom: 0px;
}

.social-widget .logo {
  width: 40%;
  height: auto;
}

.social-widget p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.footer-main .social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #876ce9;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  margin: 0.2rem 0.1rem 0.4rem;

  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer-main .social-icon a:hover {
  background: #f80a6f;
  border-color: #f80a6f;
  color: #ffffff;
}

.footer-main .social-icon a+a {
  margin-left: 4px;
}

.footer-main .f-title {
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
}

.footer-main .footer-bg {
  position: absolute;
  bottom: 0;
  background: url('http://droitthemes.com/html/saasland/img/seo/footer_bg.png') no-repeat scroll center 0;
  width: 100%;
  height: 266px;
  opacity: 0.8;
}

.footer-main .footer-bg .footer-bg-one {
  background: url('https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif') no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.footer-main .footer-bg .footer-bg-two {
  background: url('https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif') no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

/*************footer End*****************/

/* Course Page */

.title h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  width: 100%;
}

#companies .tech-img,
#technologies .tech-img {
  max-height: 8.5rem;
  height: 8.5rem;
  min-width: 12rem;
}

#syllabus {
  background-color: #f8f9fa !important;
}

#syllabus h4,
#syllabus h5,
#syllabus h6 {
  font-weight: 700;
}

#syllabus .self_pace {
  height: 22px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(5, 100, 79, 0.15);
  background-color: #fbe5ff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #bd10e0;
  padding: 0 10px;
  vertical-align: text-top;
}

#syllabus .live_class {
  height: 22px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(5, 100, 79, 0.15);
  background-color: #aefae8;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #02493a;
  padding: 0 10px;
  vertical-align: text-top;
}

#syllabus .course-week ul {
  margin: 0;
  padding: 0;
}

#syllabus .course_week ul li {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  float: left;
  margin-right: 5px;
  list-style: none;
  border-right: 2px solid rgb(34, 168, 240);
  padding-right: 8px;
  padding-left: 5px;
}

#syllabus .course_week ul li:first-child {
  color: #38bb6a;
  font-weight: 700;
}

#syllabus .course_week ul li:last-child {
  border-right: none;
}

#syllabus .p-text {
  font-size: 1.1rem !important;
  font-weight: 400 !important;
  color: #3d4a63 !important;
  line-height: 2rem !important;
}

.course_img {
  display: inline-block;
  width: 110px;
  height: 118px;
}

.course_img i {
  color: #ffffff;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.course_tag {
  height: 22px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(6, 80, 64, 0.15);
  background-color: #fbe5ff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #c63ce2;
  padding: 0 10px;
  vertical-align: text-top;
}

.course_info .title {
  font-size: 16px;
  font-weight: 600;
  color: #4a4a4a;
  overflow: hidden;
}

.faq-card {
  cursor: pointer;
}


/* Circulum Page */

#learn h2 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
}

#learn p {
  font-weight: 400;
  line-height: 1.5;
}

#month li {
  position: relative;
  margin-bottom: 1em;
  line-height: 1.5;
}

#month h3 {
  font-size: 1.2rem;
  font-weight: 700;
  vertical-align: sub;
}

#month i {
  font-size: 1rem;
}

/* getstart */

.getstart a{
  color: #f80a6f;
}

.getstart a:active, .getstart a:hover{
  color: #fb8200;
}

#faqs{
  color: #1c2042;
}

#faqs a{
  color: #1c2042;
}

#faqs .faq-link.active{
  background: #f80a6f;
  color: #fff;
}

/* Responsive */

@media (max-width: 991px) {
  .home .home-content .block h1 {
    font-size: 50px;
  }

  header {
    padding: 15px;
    position: fixed;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #eeeeee;
  }

  header .brand-name a {
    color: #000000;
  }

  .ham .fa {
    display: inline-block;
  }

  .main-header .navbar {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0px;
    top: 60px;
    padding: 15px;
    border-top: 1px solid #eeeeee;
    display: none;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
  }

  .main-header .navbar.show {
    display: block;
  }

  header .main-header .navbar ul li {
    display: block;
    margin-left: 0;
  }

  header .main-header .navbar ul li a {
    line-height: 42px;
    color: #000000;
  }

  header .main-header .navbar ul li a::before {
    background-color: #ee6b2fff;
  }

  .footer-main {
    padding: 50px 0px 180px;
  }
}