@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

/* Header Section */

.header-logo {
  width: 150px;
}

.nav-item a {
  color: white;
}

.nav-item a:hover,
.nav-item a:active {
  color: #f80a6f;
}

.header-register {
  background-color: rgba(248, 18, 113);
}

.header-bg {
  background-color: rgba(42, 46, 77);
}

/* Title */

.fa-code {
  font-size: 50px;
}


.title-text a {
  background-color: rgba(248, 18, 113);
  color: white;
}

.title-text a:hover {
  background-color: rgb(223, 3, 95);
  color: white;
}

.tech img {
  margin: auto 10%;
  filter: grayscale(100%);
}

.pricing {
  background-color: rgb(135, 108, 233);
}


/* Footer */
.dark-bg,
#help {
  background: #1c2042;
  /* padding: 1.5rem 0; */
  color: #ffffff !important;
}

.dark-bg .section-title,
.dark-bg .title-line,
.dark-bg .caption {
  color: #ffffff !important;
  border-color: #ffffff !important;
}


.footer-main {
  padding: 100px 0px 200px;
  position: relative;
  overflow-x: hidden;
}

.footer-copy {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer-copy {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 0px;
}


.footer-main .contact-widget p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.footer-main .contact-widget p a {
  color: #f80a6f;
  transition: all 0.2s ease-out;
}

.footer-main .contact-widget p a:hover {
  color: #ffffff;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
  color: #1c2042;
}

.footer-main .about-widget .f-list li a {
  color: #ffffff;
  font-size: 14px;
}

.footer-main .about-widget .f-list li a:hover {
  color: #f80a6f;
}

.footer-main .about-widget .f-list li {
  margin-bottom: 11px;
}

.about-widget .f-list li:last-child {
  margin-bottom: 0px;
}

.about-widget .f-list li {
  margin-bottom: 15px;
}

.about-widget .f-list {
  margin-bottom: 0px;
}

.social-widget .logo {
  width: 40%;
  height: auto;
  margin: 20px 0;
}

.social-widget p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.footer-main .social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #876ce9;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  margin: 0.2rem 0.1rem 0.4rem;

  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer-main .social-icon a:hover {
  background: #f80a6f;
  border-color: #f80a6f;
  color: #ffffff;
}

.footer-main .social-icon a+a {
  margin-left: 4px;
}

.footer-main .f-title {
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
}

.footer-main .footer-bg {
  position: absolute;
  bottom: 0;
  background: url('https://skillsafaribucket.s3.ap-south-1.amazonaws.com/footer_bg.png') no-repeat scroll center 0;
  width: 100%;
  height: 241px;
  opacity: 0.8;
}

.footer-main .footer-bg .footer-bg-one {
  background: url('https://skillsafaribucket.s3.ap-south-1.amazonaws.com/volks.gif') no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.footer-main .footer-bg .footer-bg-two {
  background: url('https://skillsafaribucket.s3.ap-south-1.amazonaws.com/cyclist.gif') no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

/*  end of footer*/